Resources/GameData.meta
Resources/UI.meta
Resources/Video.meta
Resources/GameData/BossDefs.meta
Resources/GameData/Nodes.meta
Resources/GameData/BossDefs/BOSS_01.asset
Resources/GameData/BossDefs/BOSS_01.asset.meta
Resources/GameData/Nodes/InvestigationDB.meta
Resources/GameData/Nodes/InvestigationDB/INV_NewBoss.asset
Resources/GameData/Nodes/InvestigationDB/INV_NewBoss.asset.meta
Resources/GameData/Nodes/InvestigationDB/INV_SabertoothMutant.asset
Resources/GameData/Nodes/InvestigationDB/INV_SabertoothMutant.asset.meta
Resources/GameData/Nodes/InvestigationDB/INV_SabertoothMutant-2.asset
Resources/GameData/Nodes/InvestigationDB/INV_SabertoothMutant-2.asset.meta
Resources/GameData/Nodes/InvestigationDB/INV_BoneStalker.asset
Resources/GameData/Nodes/InvestigationDB/INV_BoneStalker.asset.meta
Resources/GameData/Nodes/InvestigationDB/INV_CaveDevourer.asset
Resources/GameData/Nodes/InvestigationDB/INV_CaveDevourer.asset.meta
Resources/GameData/Nodes/InvestigationDB/INV_GateBoss_BoneShaman.asset
Resources/GameData/Nodes/InvestigationDB/INV_GateBoss_BoneShaman.asset.meta
